article {
    width: 150px; height: 250px; 
    background-color: black;
    margin: auto;

}
article section{
    border-style: solid;
    border-color: gray;
    width: 85%; height: 83px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 50%;
}
.button,
input[type="button"] {
    padding: 2px 2px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
}
